[Unit]
Description=SonarQube Service
After=network.target

[Service]
Type=forking
User={{ sonarqube_user }}
Group={{ sonarqube_group }}

ExecStart={{ sonarqube_install_dir }}/bin/linux-x86-64/sonar.sh start
ExecStop={{ sonarqube_install_dir }}/bin/linux-x86-64/sonar.sh stop

Restart=on-failure
LimitNOFILE=65536
LimitNPROC=4096

[Install]
WantedBy=multi-user.target